.search {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 50px;
}

.search__title {
    margin: 0;
    font-weight: 400;
}

.find__contacts {
    font-size: 15px;
    display: flex;
    align-items: flex-end;
    gap: 15px;
}

.find__contacts input {
    outline: none;
    border: 1px solid rgb(167, 167, 167);
    border-radius: 10px;
    width: 200px;
    height: 30px;
    padding: 0 10px;
    display: block;
}

.contacts__list {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.contacts__item {
    padding: 0 10px;
    background-color: rgba(218, 219, 219, 0.619);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts__delete {
    border: 1px solid red;
    border-radius: 50%;
    background-color: none;
    cursor: pointer;
}