.header__user {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-left: auto;
}

.header__user span {
    display: block;
    color: rgb(0, 180, 0);
}

.header__user button {
    padding: 6px 12px;
    outline: none;
    border: 1px solid rgb(191, 191, 191);
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;
    transition-duration: 400ms;
}

.header__user button:hover {
    background-color: rgb(218, 76, 76);
    border: 1px solid rgb(218, 76, 76);
    color: #FFFFFF;
}